* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background: #f4b843;
  text-align: center;
}
h1 {
  font-size: 3em;
  margin-top: 40px;
  color: #2d2d2d;
  margin-bottom: 30px;
}
#score {
  background: rgba(255, 255, 255, 0.5);
  padding: 5px 15px;
  border-radius: 10px;
}
button {
  background: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 100px;
}
.game {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-gap: 40px;
  justify-content: center;
  margin: 0 auto;
}
.hole {
  background: url(./513-5134523_mole-hole-png-whack-a-mole-mole-transparent.png)
    center no-repeat;
  background-size: contain;
  width: 150px;
  height: 100px;
  position: relative;
  cursor: pointer;
}
.mole {
  background: url(./png-clipart-whac-a-mole-crappy-flappy-moles-android-video-game-android-mammal-carnivoran-thumbnail.png)
    center no-repeat;
  background-size: 80px 80px;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -50px;
  left: 35px;
  transition: all 0.2s;
}
